<div>
    <h1>Streaming a private image</h1>
    <p>
        The image will appear if you finish the exercise with the correct
        solution.
    </p>
    <p>You can also click on the "solve" button to skip the exercise.</p>
    <img src="/get-image.jpg" />
</div>
