---
import "@/main.css";
---

<div>
    <h1>Streaming a private image</h1>
    <p>The image should display correctly.</p>
    <p>We are serving it as a stream.</p>
    <img src="/get-image.jpg" />
</div>
