---
import "@/main.css";
import { I18nContext } from "@/components/I18nContext";
import { CurrentLocale } from "@/components/CurrentLocale";
---

<div>
    <h1>React context in Astro</h1>
    <I18nContext locale="French">
        <CurrentLocale />
    </I18nContext>
    <p>It should display "French"</p>
    <p>But it will display "English (default)" !</p>
    <p>Astro doesn't take React context into account</p>
</div>
