---
import "@/main.css";
import { CurrentLocale } from "@/components/CurrentLocale";
import { I18nContextProvider } from "../components/I18nContext";
---

<div>
    <h1>React context in Astro</h1>
    <div class="font-bold">
        <I18nContextProvider locale="French">
            <CurrentLocale client:load />
        </I18nContextProvider>
    </div>
    <hr />
    <div class="font-italic mt-4">
        <p>The component above should display "French"</p>
        <p>But it will display "English (default)" !</p>
        <p>Astro doesn't take React context into account</p>
    </div>
</div>
